@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 5 5 7;
    --foreground: 248 250 252;
  }
}

body {
  background-color: #050507;
  color: #f8fafc;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #050507;
}
::-webkit-scrollbar-thumb {
  background: #1e1b4b;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}
